# This is Git's per-user configuration file.
[user]
	name = jiwon
	email = quiz@kakao.com
# Please adapt and uncomment the following lines:
#	name = lilpastel
#	email = quiz@kakao.com
[init]
	defaultBranch = main
